---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section class="section">
    <h1>↓SCROLL</h1>
  </section>
  <div class="container">
    {
      Array.from({ length: 6}, (_, i) => (
        <div class="box" data-inview="fade-in">
          <div class="box__text">
            <h2>タイトル0{i+1}</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci possimus dolor pariatur rerum! Hic consequatur laboriosam accusantium consequuntur magni impedit reprehenderit exercitationem iste est, mollitia nesciunt blanditiis quas perspiciatis ea.</p>
          </div>
          <div class="box__img">
            <img src=`https://picsum.photos/640/360?random=${i}` alt="">
          </div>
        </div>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .section {
    height: 100vh;
    display: grid;
    place-items: center;
    h1 {
      font-size: 3rem;
    }
  }
  .container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 40vh;
    > * + * {
      margin-top: 50vh;
    }
  }
  .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    &__text {
      width: 50%;
    }
  }
</style>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);

  class Inview {
    private els: NodeListOf<HTMLElement>;

    constructor() {
      this.els = document.querySelectorAll('[data-inview="fade-in"]');
      if (!this.els) return;

      this.init();
    }
    init() {
      this.els.forEach(el => {
        const type = el.dataset.inview;
        switch(type) {
          case 'fade-in':
            this.inviewFadeIn(el);
            break;
        }
      })
    }
    inviewFadeIn(el) {
      gsap.set(el, { y: 100, opacity: 0 });

      gsap.to(el, {
        scrollTrigger: {
          trigger: el,
          start: "top 70%",
        },
        onStart: () => {
          gsap.to(el, {
            y: 0, opacity: 1, duration: 0.8,
            ease: "sine.out",
          })
        }
      })
    }
  }

const inview = new Inview();
</script>