---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="container">
    <div class="card__wrapper">
      <div class="card__bg"></div>
      {
      Array.from({ length: 9 }, (_, i) => (
        <div class="card">
          <div class="card__img">
            <img src={`https://picsum.photos/300/200?random=${i}`} alt="">
          </div>
          <div class="card__body">
            <h2>タイトル0{i+1}</h2>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
      ))
    }
    </div>
  </div>
</Layout>

<style lang="scss">
  :root {
    --background: #F0A15EDD;
  }
  .container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
    margin-block: 80px;
    @include mixin.mobile {
      margin-block: 40px;
      padding-inline: 1rem;
    }
  }

  .card {
    padding: 1rem;
    position-anchor: --card;
    @include mixin.mobile {
      padding: 0.5rem;
    }
    @include mixin.hover {
      anchor-name: --card;
    }
    @supports not (anchor-name: --card) {
      transition: 0.3s;
      @include mixin.hover {
        background: var(--background);
      }
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: relative;
      @include mixin.mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__bg {
      position: absolute;
      background: var(--background);
      pointer-events: none;
      transition: 0.3s;
      z-index: -1;

      /* anchorの位置・サイズに従って追従させる */
      left: anchor(--card left);
      top: anchor(--card top);
      width: anchor-size(--card width);
      height: anchor-size(--card height);
    }
    &__body {
      margin-top: 0.5rem;
      h2 {
        @include mixin.mobile {
          font-size: 1rem;
        }
      }
      p {
        @include mixin.mobile {
          font-size: 0.75rem;
        }
      }
    }
  }
</style>