---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        {
          Array.from({ length: 5}, (_, i) => (
            <div class="swiper-slide">
              <div class="swiper-slide-img">
                <img src=`https://picsum.photos/800/400?random=${i}` alt="" fetchpriority="high">
              </div>
              <p>Sample 0{i+1}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .swiper, .swiper-wrapper, .swiper-slide, img {
    height: 100%;
  }
  .swiper-slide p {
    color: #fff;
    font-size: 8vw;
    position: absolute;
    bottom: 60px;
    left: 60px;
  }

  .swiper-slide.swiper-slide-active .swiper-slide-img {
    z-index: 1;
    animation: img-scale 5s linear;
    transform-origin: center;
  }

  @keyframes img-scale {
    0% {
      scale: 1.1;
    }
    100% {
      scale: 1;
    }
  }
</style>

<script>
  import { gsap } from 'gsap';
  import Swiper from 'swiper';
  import 'swiper/css/bundle';
  import { Autoplay, EffectFade } from 'swiper/modules';

  new Swiper('.swiper', {
    modules: [Autoplay, EffectFade],
    slidesPerView: 1,
    effect: 'fade',
    loop: true,
    loopAdditionalSlides: 1,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    on: {
      slideChangeTransitionStart: (swiper) => {
        const activeSlide = swiper.slides[swiper.activeIndex];

        gsap.fromTo(activeSlide, {
          clipPath: 'circle(0% at 50% 50%)',
        }, {
          clipPath: 'circle(70.7% at 50% 50%)',
          duration: 1,
          ease: 'power3.in',
        })
      },
    }
  });
</script>