---
// Googlee Fontsなどはここで読み込む

import '@/styles/styles.scss';

import Footer from '@/components/base/Footer.astro';
import Header from '@/components/base/Header.astro';
import Meta from '@/components/base/Meta.astro';

const props = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<Meta {...props} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss">
  body {
    background: #fff;
    &::-webkit-scrollbar {
      width: 0.45rem;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      margin-block: 10.5rem;
      background: rgba(255, 255, 255, 0.44);
      border-radius: 3px;
    }
  }
</style>